<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
</head>
<body>
<h1>My RECIPES!</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Notes</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}" style="width: 100px">Id</td>
        <td th:text="${recipe.description}" style="width: 200px">Description</td>
        <td th:text="${recipe.notes.getRecipeNotes()}" style="width: 600px"></td>
    </tr>
</table>
</body>
</html>